TTTGame
{
    background-color: rgb(195, 255, 98);
}

QLabel
{
    font: 20pt PazoMathBlackboardBold;
}

QPushButton
{
    background-color: rgb(255, 255, 0);
	font: 20pt PazoMathBlackboardBold;
	color: rgb(255, 85, 0);
 }
